---
import Reveal from '../common/Reveal.astro';
import Section from '../common/Section.astro';
import Text from '../common/Text.astro';
---

<Section hideBorder title="About" class="gap-section-gap flex flex-col">
    <Reveal class="gap-section-gap flex flex-col">
        <Text variant="body-lg" class="max-w-2xl text-justify">
            I&apos;ve founded startups, built developer tools, and analyzed data
            for NASA. I move between design and deep systems work, always
            focused on making complex technology&nbsp;simple.
        </Text>

        <Text variant="body-lg" class="ml-auto max-w-2xl text-justify">
            In my free time, I relish typing tests, taking apart things that
            already&nbsp;work, and traveling. I also take <a
                href="/photos"
                class="decoration-subtle hover:decoration-foreground duration-fast underline transition-colors"
                >photos and upload them!</a
            >
        </Text>
    </Reveal>
</Section>
