---
import Reveal from '../Reveal.astro';
import Section from '../Section.astro';
import Text from '../Text.astro';
---

<Section
    hideBorder
    title="About"
    class="gap-section-gap flex flex-col"
>
    <Reveal class="gap-section-gap flex flex-col">
        <Text variant="body-lg" class="max-w-2xl text-justify">
            I&apos;ve founded startups, built developer tools, and analyzed data
            for NASA. I move between design and deep systems work, always
            focused on making complex technology&nbsp;simple.
        </Text>

        <Text variant="body-lg" class="ml-auto max-w-2xl text-justify">
            In my free time, I relish long walks, typing tests, and taking apart
            things that already&nbsp;work.
        </Text>
    </Reveal>
</Section>
