---
import Button from '../Button.astro';
import Reveal from '../Reveal.astro';
import Section from '../Section.astro';
import Text from '../Text.astro';
---

<Section
    hideBorder
    class="pt-section-top gap-section-gap flex flex-col items-start"
>
    <Reveal class="gap-element-gap flex flex-col items-start">
        <Text variant="body-lg" class="max-w-2xl">
            Interested in working together?
        </Text>
        <Button href="/contact">Get in Touch</Button>
    </Reveal>
</Section>
