---
import Button from '../common/Button.astro';
import Reveal from '../common/Reveal.astro';
import Section from '../common/Section.astro';
import Text from '../common/Text.astro';
---

<Section
    hideBorder
    paddingBottom="none"
    class="gap-section-gap flex flex-col items-start"
>
    <Reveal class="gap-element-gap flex flex-col items-start">
        <Text variant="body-lg" class="max-w-2xl">
            Interested in working together?
        </Text>
        <Button href="/contact">Get in Touch</Button>
    </Reveal>
</Section>
