---
import Text from '../Text.astro';
import Section from '../Section.astro';
---

<Section
    hideBorder
    paddingTop="hero"
    class="gap-hero-gap flex flex-col"
>
    <div
        class="gap-element-gap flex flex-col-reverse items-start justify-center md:flex-row"
    >
        <Text variant="display" reveal class="text-left md:text-center">
            Brandon<br />Kong
        </Text>
    </div>
</Section>
