---
import type { SanityDocument } from '@sanity/client';
import { sanityClient } from 'sanity:client';

import { urlFor } from '../../lib/sanity';

import Reveal from '../Reveal.astro';
import Section from '../Section.astro';
import Text from '../Text.astro';

interface Skill extends SanityDocument {
    name: string;
    icon: { asset: { _ref: string; _type: string } } | null;
    order: number;
}

const skills = await sanityClient.fetch<Skill[]>(
    `*[_type == "skill"]|order(order asc){ _id, name, icon, order }`,
);
---

<Section hideBorder title="Skills" class="gap-section-gap flex flex-col">
    <Reveal class="flex flex-wrap gap-4">
        {
            skills.map((skill) => (
                <div class="border-border flex items-center gap-3 border px-5 py-3">
                    {skill.icon && (
                        <img
                            src={urlFor(skill.icon)
                                .width(100)
                                .height(100)
                                .url()}
                            alt={skill.name}
                            width={24}
                            height={24}
                            loading="lazy"
                        />
                    )}
                    <Text variant="label">{skill.name}</Text>
                </div>
            ))
        }
    </Reveal>
</Section>
