---
import Section from '../Section.astro';
import Text from '../Text.astro';
---

<Section
    title="About"
    buttonText="Show More"
    class="pt-section-top gap-section-gap flex flex-col"
>
    <Text variant="body-lg" class="max-w-2xl text-justify">
        I&apos;ve founded startups, built developer tools, and analyzed data for
        NASA. I move between design and deep systems work, always focused on
        making complex technology simple.
    </Text>
</Section>
