---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Text from "../Text.astro";
import Portrait from "../../assets/imgs/portrait.jpg";
import Section from "../Section.astro";
---

<Section hideBorder class="pt-14 pb-20 flex flex-col gap-12">
	<div class="flex flex-col-reverse md:flex-row justify-between items-start gap-4">
		<Text variant="display">
			Brandon<br />Kong
		</Text>
		<Image
			src={Portrait}
			alt="Portrait"
			class="rounded-full w-26 h-26 md:w-26 xl:w-42 md:h-auto"
			width={5000}
			height={5000}
			loading="eager"
		/>
	</div>
	<div class="flex flex-col lg:flex-row items-start justify-between gap-8">
		<div class="flex items-center gap-4">
			<Text variant="body">brandon@kong.ly</Text>
			<Icon name="copy" size="20" />
		</div>
		<Text variant="body-lg" class="max-w-xl indent-20 text-justify">
			Hello, I&apos;m a software engineer based in Chicago focused on secure
			authentication&nbsp;infrastructure.
		</Text>
	</div>
</Section>
