---
import Text from "../../Text.astro";
import Section from "../../Section.astro";
import type { Work } from "../../../../sanity/workType";

interface Props {
  work: Work;
}

const { work } = Astro.props;
---

{work.description && (
  <Section title="About" class="pt-section-top pb-section-bottom flex flex-col gap-section-gap">
    <Text variant="body-sm" class="text-justify max-w-2xl ml-auto">
      {work.description}
    </Text>
  </Section>
)}
