---
import Section from '../Section.astro';
import BlogGrid from '../BlogGrid.astro';
---

<Section
    title="Blog"
    href="/blog"
    buttonText="Show More"
    class="gap-section-gap flex flex-col"
>
    <BlogGrid limit={4} />
</Section>
