---
import Section from '../common/Section.astro';
import BlogGrid from '../common/BlogGrid.astro';
---

<Section
    title="Blog"
    href="/blog"
    buttonText="Show More"
    class="gap-section-gap flex flex-col"
>
    <BlogGrid limit={4} />
</Section>
