---
import { Image } from 'astro:assets';
import Text from '../Text.astro';
import SocialLink from '../SocialLink.astro';
import Portrait from '../../assets/imgs/portrait.png';
import Section from '../Section.astro';
import { GITHUB_LINK } from '../../lib/constants';
import Reveal from '../Reveal.astro';
---

<Section hideBorder paddingTop="hero" class="gap-section-gap flex flex-col">
    <div
        class="gap-element-gap flex flex-col-reverse items-start justify-between md:flex-row"
    >
        <Text variant="display" reveal>
            Brandon<br />Kong
        </Text>
        <Image
            src={Portrait}
            alt="Portrait of Brandon Kong"
            class="h-26 w-26 rounded-full md:h-auto md:w-26 xl:w-42"
            width={336}
            height={336}
            loading="eager"
        />
    </div>
    <Reveal
        distance="256px"
        class="gap-content-gap flex flex-col items-start justify-between lg:flex-row"
    >
        <SocialLink
            text="brandondkong"
            icon="brands/github"
            cursorText="GitHub"
            href={GITHUB_LINK}
        />
        <Text variant="body-lg" class="max-w-xl indent-20 sm:text-justify">
            Hello, I&apos;m a software engineer based in Chicago focused on
            secure authentication&nbsp;infrastructure.
        </Text>
    </Reveal>
</Section>
