---
import Section from '../common/Section.astro';
import PaperGrid from '../common/PaperGrid.astro';
---

<Section
    title="Papers"
    href="/papers"
    buttonText="Show More"
    class="gap-section-gap flex flex-col"
>
    <PaperGrid />
</Section>
