---
import type { Work } from '@kong/sanity';

import Section from '../Section.astro';
import WorkGrid from '../WorkGrid.astro';
---

<Section
    title="Work"
    href="/works"
    buttonText="Show More"
    class="pt-section-top pb-section-bottom gap-section-gap flex flex-col"
>
    <WorkGrid />
</Section>
