---
import Text from '../Text.astro';
import SocialLink from '../SocialLink.astro';
import Section from '../Section.astro';
import Input from '../Input.astro';
import Textbox from '../Textbox.astro';
import Button from '../Button.astro';
import Reveal from '../Reveal.astro';
---

<Section
    hideBorder
    paddingTop="hero"
    paddingBottom="none"
    class="gap-hero-gap flex flex-col"
>
    <div
        class="gap-element-gap flex flex-col-reverse items-start justify-between md:flex-row"
    >
        <Text variant="display" reveal>
            Shoot a<br />Request
        </Text>
    </div>
    <Reveal
        class="gap-content-gap flex flex-col items-start justify-between lg:flex-row"
    >
        <div class="flex-1">
            <SocialLink
                text="brandon@kong.ly"
                icon="copy"
                cursorText="Copy"
                copy
            />
        </div>

        <form class="gap-content-gap flex w-full flex-[1.5] flex-col">
            <Input
                name="name"
                placeholder="Your Name"
                class="w-full"
                required
            />
            <Input
                type="email"
                name="email"
                placeholder="Your Email"
                class="w-full"
                required
            />
            <Textbox name="message" placeholder="Your Message here" required />
            <Button variant="solid">Submit</Button>
        </form>
    </Reveal>
</Section>
