---
import Text from '../common/Text.astro';
import SocialLink from '../common/SocialLink.astro';
import Section from '../common/Section.astro';
import Input from '../common/Input.astro';
import Textbox from '../common/Textbox.astro';
import Button from '../common/Button.astro';
import Reveal from '../common/Reveal.astro';
import { LINKEDIN_LINK } from '../../lib/constants';
---

<Section
    hideBorder
    paddingTop="hero"
    paddingBottom="none"
    class="gap-hero-gap flex flex-col"
>
    <div
        class="gap-element-gap flex flex-col-reverse items-start justify-between md:flex-row"
    >
        <Text variant="display" reveal>
            Shoot a<br />Request
        </Text>
    </div>
    <Reveal
        class="gap-content-gap flex flex-col items-start justify-between lg:flex-row"
    >
        <div class="flex-1">
            <SocialLink
                text="brandondkong"
                icon="brands/linkedin"
                cursorText="LinkedIn"
                href={LINKEDIN_LINK}
            />
        </div>

        <form class="gap-content-gap flex w-full flex-[1.5] flex-col">
            <Input
                name="name"
                placeholder="Your Name"
                class="w-full"
                required
            />
            <Input
                type="email"
                name="email"
                placeholder="Your Email"
                class="w-full"
                required
            />
            <Textbox name="message" placeholder="Your Message here" required />
            <Button variant="solid">Submit</Button>
        </form>
    </Reveal>
</Section>
