---
import type { Work } from '@kong/sanity';

import Section from '../common/Section.astro';
import WorkGrid from '../common/WorkGrid.astro';
---

<Section
    hideBorder
    paddingTop="none"
    paddingBottom="none"
    class="gap-section-gap flex flex-col"
>
    <WorkGrid includeAll />
</Section>
