---
import Base from "../layouts/Base.layout.astro";
import Hero from "../components/landing/Hero.astro";
import Work from "../components/landing/Work.astro";
import Experience from "../components/landing/Experience.astro";
import Section from "../components/Section.astro";
import Text from "../components/Text.astro";
---

<Base>
  <Hero />
  <Work />
  <Experience />

  <Section title="About" buttonText="Show More" class="pt-8 pb-20 flex flex-col gap-12">
    <Text variant="body-lg" class="text-justify max-w-2xl">
      I&apos;ve founded startups, built developer tools, and analyzed data for NASA. I move between design and deep systems work, always focused on making complex technology simple.
    </Text>
  </Section>
</Base>
