---
import Base from "../layouts/Base.layout.astro";
import Section from "../components/Section.astro";
import Hero from "../components/Hero.astro";
---

<Base>
	<Section class="flex flex-col gap-12">
		<Hero />
	</Section>
</Base>

