---
import Button from './Button.astro';
import Reveal from './Reveal.astro';
import Text from './Text.astro';

type PaddingTop = 'hero' | 'section' | 'none';
type PaddingBottom = 'section' | 'sm' | 'none';

interface Props {
    class?: string;
    hideBorder?: boolean;
    title?: string;
    buttonText?: string;
    href?: string;
    paddingTop?: PaddingTop;
    paddingBottom?: PaddingBottom;
}

import { twMerge } from 'tailwind-merge';

const {
    class: className,
    href,
    hideBorder = false,
    title,
    buttonText,
    paddingTop = 'section',
    paddingBottom = 'section',
    ...rest
} = Astro.props;

const paddingTopClass: Record<PaddingTop, string> = {
    hero: 'pt-hero-top',
    section: 'pt-section-top',
    none: '',
};

const paddingBottomClass: Record<PaddingBottom, string> = {
    section: 'pb-section-bottom',
    sm: 'pb-section-top',
    none: '',
};
---

<section
    class={twMerge(
        'px-section-x sm:px-section-x-sm overflow-clip',
        paddingTopClass[paddingTop],
        paddingBottomClass[paddingBottom],
        !hideBorder && 'border-t border-border',
        className,
    )}
    {...rest}
>
    {
        title && (
            <Reveal distance="64px">
                <div class="flex flex-row items-center justify-between">
                    <Text variant="heading">{title}</Text>
                    {buttonText && <Button href={href}>{buttonText}</Button>}
                </div>
            </Reveal>
        )
    }
    <slot />
</section>
