---

---

<div
class="border-b border-border px-8 py-9 flex items-center justify-between w-full"
>
    <a href="/" class="font-bold text-3xl leading-0 uppercase tracking-tight">kong.ly</a>
    <div class="grid grid-cols-2 gap-2">
        <div class="w-[5px] h-[5px] bg-foreground"></div>
        <div class="w-[5px] h-[5px] bg-foreground"></div>
        <div class="w-[5px] h-[5px] bg-foreground"></div>
        <div class="w-[5px] h-[5px] bg-foreground"></div>
    </div>
</div>