---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
    image: ImageMetadata;
    name: string;
};

const { image, name } = Astro.props;
---

<div
class="project-card w-full h-auto aspect-square border border-border relative overflow-hidden group"
>
    <Image
    src={image}
    alt={name}
    width={5000}
    height={5000}
    class="absolute top-0 left-0 w-full h-full object-cover group-hover:scale-110 transition-transform duration-normal"
    />
    <div class="absolute inset-x-0 bottom-0 h-1/2 bg-linear-to-t from-overlay to-transparent p-14 opacity-0 group-hover:opacity-100 transition-opacity duration-normal flex items-end">
        <p class="text-background font-normal text-5xl tracking-tight">{name}</p>
    </div>
</div>