---
import Button from "./Button.astro";
import Text from "./Text.astro";

interface Props {
    class?: string;
    hideBorder?: boolean;
    title?: string;
    buttonText?: string;
    href?: string;
};

import { twMerge } from "tailwind-merge";

const { class: className, href, hideBorder = false, title, buttonText, ...rest } = Astro.props;
---

<section
class={twMerge("px-section-x sm:px-section-x-sm", !hideBorder && "border-t border-border", className)}
{...rest}
>
    {title && (
        <div class="flex flex-row items-center justify-between">
            <Text variant="heading">{title}</Text>
            {buttonText && <Button href={href}>{buttonText}</Button>}
        </div>
    )}
    <slot />
</section>
