---
interface Props {
    class?: string;
    hasTopBorder?: boolean;
};

const { class: className, hasTopBorder = false, ...rest } = Astro.props;
---

<section
class:list={["px-6 sm:px-20", !hasTopBorder && "border-t border-neutral-100", className]}
{...rest}
>
    <slot />
</section>