---
import { sanityClient } from 'sanity:client';
import type { Work } from '../../sanity/workType';
import WorkCard from './WorkCard.astro';

interface Props {
    includeAll?: boolean;
    excludedIds?: string[];
};

const { includeAll = false, excludedIds = [] } = Astro.props;

const excludeFilter = excludedIds.length > 0 ? ` && !(_id in $excludedIds)` : '';
const WORKS_QUERY = includeAll
  ? `*[_type == "project" && defined(slug.current)${excludeFilter}]|order(_createdAt desc){ _id, title, slug, coverImage }`
  : `*[_type == "project" && defined(slug.current)${excludeFilter}]|order(_createdAt desc)[0...3]{ _id, title, slug, coverImage }`;
const works = await sanityClient.fetch<Work[]>(WORKS_QUERY, { excludedIds });
---

<div class="grid grid-cols-1 lg:grid-cols-2 gap-content-gap">
    {works.map((work) => (
      <WorkCard
        work={work}
      />
    ))}
  </div>