---
import type { Work } from '../../../sanity/workType';

import Section from '../Section.astro';
import WorkGrid from '../WorkGrid.astro';
---

<Section hideBorder class="gap-section-gap flex flex-col">
    <WorkGrid includeAll />
</Section>
