---
import type { Work } from "../../../sanity/workType";

import Section from "../Section.astro";
import WorkGrid from "../WorkGrid.astro";
---

<Section hideBorder class="flex flex-col gap-section-gap">
  <WorkGrid includeAll />
</Section>
