---
import Text from '../../Text.astro';
import Section from '../../Section.astro';
import type { Work } from '../../../../sanity/workType';
import Reveal from '../../Reveal.astro';

interface Props {
    work: Work;
}

const { work } = Astro.props;
---

{
    work.description && (
        <Section
            title="About"
            class="pt-section-top pb-section-bottom gap-section-gap flex flex-col"
        >
            <Reveal>
                <Text
                    variant="body-sm"
                    class="max-w-2xl text-justify md:ml-auto"
                >
                    {work.description}
                </Text>
            </Reveal>
        </Section>
    )
}
