---
import Section from '../../Section.astro';
import type { Work } from '@kong/sanity';
import WorkGrid from '../../WorkGrid.astro';

interface Props {
    work: Work;
}

const { work } = Astro.props;
---

<Section
    title="More to Explore"
    buttonText="Show More"
    href="/works"
    paddingBottom="none"
    class="gap-section-gap flex flex-col"
>
    <WorkGrid excludedIds={[work._id]} />
</Section>
