---
import Text from '../../Text.astro';
import Section from '../../Section.astro';
import type { Work } from '@kong/sanity';
import Reveal from '../../Reveal.astro';

interface Props {
    work: Work;
}

const { work } = Astro.props;
---

{
    work.features && work.features.length > 0 && (
        <Section title="Features" class="gap-section-gap flex flex-col">
            <Reveal class="gap-content-gap flex max-w-2xl flex-col md:ml-auto">
                {work.features.map((feature) => (
                    <div class="gap-tight-gap flex flex-col">
                        <Text variant="body-xl" as="h3">
                            {feature.title}
                        </Text>
                        <Text variant="body-sm">{feature.description}</Text>
                    </div>
                ))}
            </Reveal>
        </Section>
    )
}
