---
import Font from "astro/components/Font.astro";
import "../styles/global.css"
import Navbar from "../components/Navbar.astro";
import Cursor from "../components/Cursor.astro";

---

<html lang="en">
    <head>
        <Font cssVariable="--font-inter" />
        <Font cssVariable="--font-fragment-mono" />
    </head>
    <body>
        <Navbar />
        <slot />
        <Cursor />
    </body>
</html>