---
import Font from "astro/components/Font.astro";
import "../styles/global.css"
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Cursor from "../components/Cursor.astro";

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Brandon Kong</title>
        <Font cssVariable="--font-inter" />
    </head>
    <body>
        <div class="relative z-10 bg-background pb-16 md:pb-30">
            <Navbar />
            <slot />
        </div>
        <Footer />
        <Cursor />
    </body>
</html>