---
import { PortableText } from 'astro-portabletext';
import Section from '../../common/Section.astro';
import Reveal from '../../common/Reveal.astro';
import Image from './Image.astro';
import Code from './Code.astro';
import Heading from './Heading.astro';
import type { Post } from '@kong/sanity';

interface Props {
    post: Post;
}

const { post } = Astro.props;

const components = {
    type: {
        image: Image,
        code: Code,
    },
    block: {
        h2: Heading,
        h3: Heading,
        h4: Heading,
        h5: Heading,
        h6: Heading,
    },
};
---

<Section>
    <Reveal>
        <div class="prose mx-auto max-w-2xl">
            <PortableText value={post.body} components={components} />
        </div>
    </Reveal>
</Section>
