---
import Section from '../../common/Section.astro';
import type { Post } from '@kong/sanity';
import BlogGrid from '../../common/BlogGrid.astro';

interface Props {
    post: Post;
}

const { post } = Astro.props;
---

<Section
    title="More Posts"
    buttonText="All Posts"
    href="/blog"
    paddingBottom="none"
    class="gap-section-gap flex flex-col"
>
    <BlogGrid excludedIds={[post._id]} limit={4} />
</Section>
